@import url('../Common/Common.css');

.wrapper{
    /* background: #A9BCF5; */
    background: linear-gradient(200deg, #29043A 0%, #0e0631 30%, #000000 90%);
    width: 100%;
    color: #fff;
    font-family: 'DungGeunMo';
}
/* header style */
.wrapper.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
.wrapper .header .header-main{
    width: 100%;
    height: 70px;
    margin: 0 auto;
    position: fixed;
    
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items:center;
}
.wrapper .header .header-main .header-logo {
    padding: 30px;
    color: #fff;
}

.wrapper .header .header-main .main-nav .main-nav__items  {
    display: flex;
    flex-direction: row;
    color: #fff;
}
.wrapper .header .header-main .main-nav .main-nav__item a {
    display: block;
    font-weight: 700;
    padding: 0 15px;
}
/* footer style */
.wrapper .footer {
   height: 70px;
}

.wrapper .footer .footer_wrap {
    width: 100%;
    height: 70px;
    background: rgb(33, 32, 39);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrapper .footer .footer_wrap .social ul{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .footer .footer_wrap .social ul li img {
    margin-top: 40px;
    width: 55px;
    height: 30px;
}
.wrapper .footer .footer_wrap p {
    margin-top: 30px;
    text-align: right;
    font-size: 13px;
    color: #ccc;
}
.wrapper .footer .footer_wrap .copyright {
    margin: 20px 10px 0 0 ;
    text-align: right;
    font-size: 13px;
    color: #ccc;
}

/* main */
.wrapper main {
    padding-top: 120px;
    
}

.wrapper main .maingame {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper main .maingame div {
    padding: 30px;
}

.wrapper main .maingame .gmTitle .title {
    text-align: center;
    font-family: 'DungGeunMo';
    font-size: 4.5em;
}
.wrapper main .maingame .gamestart {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'DungGeunMo';
    font-size: 4.0em;
    color: rgba(0, 0, 0, 0.8);
}
.wrapper main .maingame .gamestart a {
    background: rgb(255, 255, 255);
    padding: 0 40px;
    border-radius: 10px 10px;
}
.wrapper main .maingame .gmprofile p {
    padding: 0 0 20px 0; 
}
.wrapper main .mainImg {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.wrapper main .mainImg ul li img{
    width: 100%;
}
