@import url('../Common/Common.css');

.wrapper{
    /* background: #A9BCF5; */
    /* background: linear-gradient(200deg, #29043A 0%, #0e0631 30%, #000000 90%); */
    width: 100%;
    color: #fff;
    font-family: 'DungGeunMo';
    flex: 1;
}
/* header style */
.wrapper.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
.wrapper .header .header-main{
    width: 100%;
    height: 70px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items:center;
}
.wrapper .header .header-main .header-logo {
    padding: 30px;
    color: #fff;
}

.wrapper .header .header-main .main-nav .main-nav__items  {
    display: flex;
    flex-direction: row;
    color: #fff;
}
.wrapper .header .header-main .main-nav .main-nav__item a {
    display: block;
    font-weight: 700;
    padding: 0 15px;
}
/* footer style */
.wrapper .footer {
   height: 70px;
   
   width: 100%;
   position: absolute;
}

.wrapper .footer .footer_wrap {
    width: 100%;
    height: 70px;
    background: rgb(33, 32, 39);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrapper .footer .footer_wrap .social ul{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .footer .footer_wrap .social ul li img {
    margin-top: 40px;
    width: 55px;
    height: 30px;
}
.wrapper .footer .footer_wrap p {
    margin-top: 30px;
    text-align: right;
    font-size: 13px;
    color: #ccc;
}
.wrapper .footer .footer_wrap .copyright {
    margin: 20px 10px 0 0 ;
    text-align: right;
    font-size: 13px;
    color: #ccc;
}

/* main */
.wrapper main {
    padding-top: 120px;
    
}

.wrapper main .maingame {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper main .maingame div {
    padding: 30px;
}

.wrapper main .maingame .gmTitle .title {
    text-align: center;
    font-family: 'DungGeunMo';
    font-size: 4.5em;
}
.wrapper main .maingame .gamestart {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'DungGeunMo';
    font-size: 4.0em;
    color: rgba(0, 0, 0, 0.8);
}
.wrapper main .maingame .gamestart a {
    background: rgb(255, 255, 255);
    padding: 0 40px;
    border-radius: 10px 10px;
}
.wrapper main .maingame .gmprofile p {
    padding: 0 0 20px 0; 
}
.wrapper main .mainImg {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.wrapper main .mainImg ul li img{
    width: 100%;
}






* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url('./image/해변가.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

canvas {
  background-image: url('./image/모래사장.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
  border: 5px solid #d89797;
  border-radius: 30px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;
  margin: 0px auto;
  margin-top: 100px;
  background: #f5ce6b;

  border: 5px solid #d89797;
  border-radius: 30px;
}
.title h1 {
  /* font-family: 'Bagel Fat One', cursive; */
  color: #000;
  padding: 5px;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#header {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #000;

  width: 200px;
  margin-top: 20px;
  background: #f5ce6b;

  border: 5px solid #d89797;
  border-radius: 30px;
}

.setting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  margin-top: 30px;
}

.setting #pause,
.setting #bgm {
  background: #000;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  padding: 10px;
}

.keyHelp {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
}
.keyHelp .keySet {

  width: 297px;
  height: 200px;
  background-image: url('./image/Howtomove.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  border: 5px solid #d89797;
  border-radius: 30px;
  
}