@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
* {
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;

}

/* font-family: 'DM Serif Display', serif; */