@import url('../Common/Common.css');

.wrapper{
    /* background: #A9BCF5; */
    font-family: 'DungGeunMo';
    background: url(./MainPageImg/main.png) no-repeat;
    background-position: 0 0;
    background-size: cover;
    
}
/* header style */
.wrapper.header {
    width: 100%;
    top: 0;
    left: 0;
   
  }
  .wrapper .header .header-main {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 999;
  
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrapper .header .header-main .header-logo {
    height: 76px;
    padding: 0 10px;
  }
  .wrapper .header .header-main .header-logo img {
    width: 76px;
    height: 76px;
  }
  
  .wrapper .header .header-main .main-nav .main-nav__items {
    display: flex;
    flex-direction: row;
  }
  .wrapper .header .header-main .main-nav .main-nav__item a {
    display: block;
    padding: 0 30px;
  }
.wrapper .header .header-main .login {
    padding: 0 30px;
}

/* main */
.wrapper main {
    padding-top: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper main .maintitle {
    width: 100%;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    text-shadow: 10px 6px 6px rgba(50, 50, 50, 0.7);
}
.wrapper main .maintitle .title {
    text-align: center;
    font-size: 140px;
    color: #fff;
    margin-bottom: 60px;
}
.wrapper main .maintitle .title2 {
    text-align: center;
    font-size: 40px;
    color: #fff;
} 
.wrapper main .list {
    width: 100%;
}
.wrapper main .gamelist{
    width: 95%;
    margin: 0 auto ;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
}
.wrapper main .gamelist .gamelist-img ul{
    margin: 0  ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrapper main .gamelist .gamelist-img ul li {
    width: 22.5%;
    
}
.wrapper main .gamelist .gamelist-img ul li .box{
    width: 100%;
    height: 90%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    font-size: 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}
.wrapper main .gamelist .gamelist-img ul li img{
    width: 100%;
    height: 90%;
}
.wrapper main .gamelist .gamelist-img ul li:hover img{
    box-shadow: 15px 10px 6px rgba(0, 0, 0, 0.7);
}
.wrapper main .gamelist .gamelist-img ul li:active img{
    transform: scale(1.05);
    transition: all 0.01s linear;
}

/* footer style */
.wrapper .footer {
   height: 70px;
}

.wrapper .footer .footer_wrap {
    width: 100%;
    height: 70px;
    background: rgb(33, 32, 39);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrapper .footer .footer_wrap .social ul{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .footer .footer_wrap .social ul li img {
    margin-top: 40px;
    width: 55px;
    height: 30px;
}
.wrapper .footer .footer_wrap p {
    margin-top: 30px;
    text-align: right;
    font-size: 13px;
    color: #ccc;
}
.wrapper .footer .footer_wrap .copyright {
    margin: 20px 10px 0 0 ;
    text-align: right;
    font-size: 13px;
    color: #ccc;
}